* {
  box-sizing: border-box;
}


body {
  background: linear-gradient(to right, #d39217, #13aae5);
}


input {
background-color: rgba(255,255,255,.1);
height: 3em;
width: 10em;
text-align: center;
margin-top: 20%;
}

input::placeholder{
  color: black;
}

.search-container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


ul {
  margin-top: 0;
  display: block;
  list-style: none;
  padding-left: 0;
}
ul.has-suggestions {
  /* TODO */
}
ul li {
  transition: opacity 0.5s ease-in-out;
  background-color: rgba(255,255,255,.1);
  width: 10em;
  text-align: center;
  padding: 1em 0;
}
ul li:hover {
  background-color: rgba(19, 170, 229, .5);
  transition-duration: 900ms;
}
